{% extends 'base.html' %}

{% block content %}
    <div>
        <h1>My Tasks</h1>
        {% if task_list|length > 0 %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>State date</th>
                        <th>End date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for t in task_list %}
                        <tr>
                            <td>{{t.name}}</td>
                            <td>{{t.start_date|date}}</td>
                            <td>{{t.due_date|date}}</td>
                            {% if t.is_completed is True %}
                                <td>Done</td>
                            {% else %}
                                <td>
                                    <form method="post" action="{% url 'complete_task' t.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="is_completed" value="True">
                                        <button>Complete</button>
                                    </form>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>You have no tasks</p>
        {% endif %}
    </div>
{% endblock content %}
